<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href="https://answerai.tech">Answer AI Web</a>
</li>
<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="otherDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu" aria-labelledby="otherDropdown">
                <a class="dropdown-item" href="{{site.baseurl}}/terms-and-conditions.html">Terms and Conditions</a>
                <a class="dropdown-item" href="{{site.baseurl}}/privacy-policy.html">Privacy Policy</a>
            </div>
        </li>





<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/contact.html">Contact US</a>
</li> -->
<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/terms-and-conditions.html">Terms and Conditions</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/privacy-policy.html">Privacy Policy</a>
</li> -->



<!-- <li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">G</a>
</li> -->
<!-- <li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li> -->
